* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  color: #485e74;
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.BRAND {
  text-align: center;
}

.BRAND span {
  color: #fff;
}

.wrapper {
  box-shadow: 0 0 22px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
  padding: 1em;
}

.studentid {
  background: #c9e6ff;
}

.studentid h3,
.studentid ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #6ab1ef;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}